body {
    font-family: 'Poppins', sans-serif;
}

/* FIFA world CUP first section */
.container {
    background-color: black;
    width: 85%;
    height: 600px;
    display: flex;
    color: white;
    margin-left: 120px;
    margin-top: 50px;
    border-radius: 30px;
}

.players {
    display: flex;
    align-items: center;
}

.top {
    padding: 70px;
}

.player {
    font-size: 65px;
    margin-bottom: 0;
    animation-delay: 0.5s;
}

.para {
    animation-delay: 1s;
}

.button-tag {
    font-size: 20px;
    font-weight: 600;
    width: 180px;
    height: 55px;
    background-color: red;
    border-radius: 6px;
    animation-delay: 1.5s;


}

.live,
.fa-greater-than {
    color: white;
}

.fa-greater-than {
    padding-left: 5px;
}

.top-player {
    width: 60%;
    height: 580px;
    margin-top: 21px;
    margin-right: 20px;

}

.top-player.anim {
    animation-delay: 1.6s;
}

/* first section animation add */
.anim {
    opacity: 0;
    transform: translateY(30px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup {
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}